body {
    background-color: #073041;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.twitter-navbar {
    background-color: #073041 ;
    box-shadow: 0 0 10px #f2f2f257;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0;
}

.navbar-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.navbar-icon:hover {
    opacity: 0.7;
}
