body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #2b2e38;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sidebar {
    flex: 0 0 250px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
}

.sidebar h2 {
    margin: 0;
    font-weight: bold;
    color:#1f2029;
}

.sidebarOption {
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption:hover {
    background-color: #f5f8fa;
    border-radius: 999px;
}

.sidebarOption .material-icons {
    margin-right: 10px;
    color: #1da1f2;
}

.sidebarOption h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color:  #1f2029;
}

.content {
    flex: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color:  #1f2029;
}

#tweet-form {
    margin-bottom: 20px;
}

#tweet-text {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 10px;
}

#tweet-form button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#tweet-form button:hover {
    background-color: #1ED4C5;
}

#tweet-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tweet {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.tweet p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.tweet .tweet-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.tweet .tweet-options button {
    background: none;
    border: none;
    cursor: pointer;
    color: #1da1f2;
}

.tweet .tweet-options button:hover {
    text-decoration: underline;
}

.tweet .tweet-options .material-icons {
    vertical-align: middle;
    font-size: 18px;
}

.tweet .tweet-options .like-count {
    font-size: 14px;
    color: #657786;
}

.like-button {
    background-color: #1ED4C5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.like-button:hover {
    background-color: #1da1f2;
    color: #000000;
}
